# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Atividades do curso de Pós Graduação em Desenvolvimento Web - Java</title>
	
</head>
<body>
	<p>Atividades de Java: Curso de Pós Graduação em Sistemas e desenvolvimento Web</p>
	<p>Desenvolvimento em Java do Aplicativo similar ao CartolaFC</p>
</body>
</html>
